@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<SanPham>
<!-- home page slider -->
<div class="homepage-slider">
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Thơm ngon & Bắt mắt</p>
							<h1>BÁNH KEM THƠM NGON</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Bộ sưu tập bánh</a>
								<a href="contact.html" class="bordered-btn">Liên hệ với chúng tôi</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Thơm ngon mỗi ngày</p>
							<h1>100% LÀM TỪ NGUYÊN LIỆU SẠCH</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Đến Shop</a>
								<a href="contact.html" class="bordered-btn">Liên hệ với chúng tôi</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- single home slider -->
	<div class="single-homepage-slider homepage-bg-3">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-right">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Chương trình giảm giá lớn đang diễn ra!</p>
							<h1>GIẢM GIÁ THÁNG 6!!</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn">Thăm cửa hàng</a>
								<a href="contact.html" class="bordered-btn">Liên lạc với chúng tôi</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end home page slider -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>Miễn phí giao hàng</h3>
						<p>Khi đặt đơn hàng trên 500k</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>Hỗ trợ 24/7</h3>
						<p>Nhận hỗ trợ cả ngày</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Hoàn trả</h3>
						<p>Có thể hoàn trả trong 3 ngày!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end features list section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">BÁNH </span>NGỌT</h3>
					
				</div>
			</div>
		</div>

		<div class="row">
				@if(Model != null){
				foreach (var item in Model)
				{
					var sum = 0;
					foreach (var chiTiet in item.ChiTietSPs)
					{
						sum += chiTiet.SoLuong;
					}
					<a asp-action="Product_Detail" asp-controller="Home" asp-route-id_sp="@item.Id" class="img-prod">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
								
									<img class="img-fluid" src="@Url.Action("GetImage","Home", new {id_sp = @item.Id})">
								
					</div>
					<h3>@item.Ten</h3>
							<p class="product-price">
								<span>1 Cái</span> 
								@(item.ChiTietSPs.Min(ct => ct.Gia).ToString("#,0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")))đ 
							</p>
					@* <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a> *@
							@if(sum == 0)
							{
								<div class="text-danger">HẾT HÀNG</div>
							}
							else
							{
								<a asp-action="ThemVaoGioHang" asp-controller="GioHang" asp-route-sanPhamId="@item.Id" asp-route-returnUrl="@Url.Action("Index", "Home")" class="cart-btn">
									<i class="fas fa-shopping-cart"></i> 
									Thêm vào giỏ hàng
								</a>
							}
						</div>
			</div>
					</a>
		}
			}
		</div>
	</div>
</div>
